---
import Layout from '../layouts/Layout.astro';
import CaseCard from '@components/cards/CaseCard.astro';
import LinkButton from '@components/buttons/LinkButton.astro';
import { caseData } from '../data.ts';
---

<Layout title="Home">
    <section
        id="hero-section"
        class="hero-section section wrapper"
        data-width="full"
    >
        <h1>
            <span>they tried to erase the truth.</span>
            <br />
            <span>we archived it.</span>
        </h1>
        <LinkButton label="Our Mission" href="/" />
    </section>

    <section class="wrapper" data-width="wide">
        <h3>Case Files...</h3>
    </section>

    <section class="section wrapper cards" data-width="wide">
        {
            caseData.map((caseItem) => (
                <CaseCard href={`/cases/${caseItem.signature}`}>
                    <h3>
                        [ case #{caseItem.caseNum}] - {caseItem.location} -{' '}
                        {caseItem.date.getFullYear()}
                    </h3>
                    <img src={caseItem.imgUrl} alt="test" />
                    <p>Signature: {caseItem.signature}</p>
                </CaseCard>
            ))
        }
    </section>
</Layout>

<style>
    .hero-section {
        background: linear-gradient(
                to bottom,
                rgb(39 39 39 / 0%) 75%,
                rgb(39 39 39 / 100%) 100%
            ),
            url('/images/night-sky.jpg');
        background-size: cover;
        background-position: bottom;

        min-block-size: 65dvh;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        h1 {
            text-align: center;
            font-family: var(--ff-tagline);
            text-shadow: 5px 5px 5px black;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        h3 {
            font-size: var(--fs-body-regular);
        }
    }
</style>
